---
- name: Maintain aah-fs01
  hosts: aah-fs01
  become: true
  gather_facts: yes

  roles:
    - manage_linux
    - manage_omzsh
    - install_docker
    - install_mergerfs
    - install_snapraid
    - install_btrfs
    - manage_openzfs
    - stefangweichinger.ansible_rclone
    - manage_disks_nas
    - configure_aah-fs01
    - docker_scrutiny

  # - configure_zfs

  vars:
    #extra_apps
    extra_apps:
      - fuse
      - cifs-utils
      - nfs-kernel-server
      - nfs-common
      - samba
      - hdparm
      - fdisk
      - parted
      - gdisk
    #generic
    user: [YOUR USERNAME]

    data_disks:
      - /dev/disk/by-id/ata-xxxx
      - /dev/disk/by-id/ata-xxxx
      - /dev/disk/by-id/ata-xxxx
      - /dev/disk/by-id/ata-xxxx
      - /dev/disk/by-id/ata-xxxx
      - /dev/disk/by-id/ata-xxxx
    parity_disks:
      - /dev/disk/by-id/ata-xxxx
    cache_disks:
      - /dev/disk/by-id/nvme-xxxx

    #mergerfs
    mountpoint_media_cache: "/mnt/media"
    mountpoint_media_cold: "/mnt/media-cold"

    #scrutiny vars
    #https://containrrr.dev/shoutrrr/v0.8/services/discord/ && https://github.com/AnalogJ/scrutiny/blob/master/example.scrutiny.yaml
    scrutiny_discord_token: ["TOKEN"]
    scrutiny_discord_webhookid: ["WEBHOOKID"]
    #mapping for scrutiny
    disk_mapping:
      - /dev/disk/by-id/ata-xxxx:/dev/sda
      - /dev/disk/by-id/ata-xxxx:/dev/sdb
      - /dev/disk/by-id/ata-xxxx:/dev/sdc
      - /dev/disk/by-id/aata-xxxx:/dev/sdd
      - /dev/disk/by-id/ata-xxxx:/dev/sde
      - /dev/disk/by-id/ata-xxxx:/dev/sdf
      - /dev/disk/by-id/ata-xxxx:/dev/sdg
      - /dev/disk/by-id/ata-xxxx:/dev/sdh
      - /dev/disk/by-idata-xxxx:/dev/sdi
      - /dev/disk/by-id/ata-xxxx:/dev/sdj
      - /dev/disk/by-id/ata-xxxx:/dev/sdk
      - /dev/disk/by-id/ata-xxxx:/dev/sdl
      - /dev/disk/by-id/ata-xxxx:/dev/sdm
      - /dev/disk/by-id/ata-xxxx:/dev/sdn
      - /dev/disk/by-id/ata-xxxx:/dev/sdo
      - /dev/disk/by-id/nvme-xxxx:/dev/nvme0