[Unit]
Description=MergerFS mount for cache disks/paths

[Service]
Type=simple
KillMode=mixed
ExecStart=/usr/bin/mergerfs \
  -f \
  -o cache.files=off \
  -o dropcacheonclose=true \
  -o category.create=epmfs \
  -o minfreespace=100G \
  -o fsname=mergerfs-cache-pool \
  {{ cache_mounts|join(':') }} \
  {{ cache_pool }}
ExecStop=/bin/fusermount -uz {{ cache_pool }}
Restart=on-failure

[Install]
WantedBy=default.target