[Unit]
Description=MergerFS mount for /mnt/media (single cache disk/path)

[Service]
Type=simple
KillMode=mixed
ExecStart=/usr/bin/mergerfs \
  -f \
  -o cache.files=off \
  -o dropcacheonclose=true \
  -o category.create=ff \
  -o allow_other \
  -o minfreespace={{ configure_mergerfs_minfreespace }} \
  -o fsname=mergerfs_cache \
  {{ cache_mounts|join(':') }}:{{ data_mounts|join(':') }} \
  {{ media_cached }}
ExecStop=/bin/fusermount -uz {{ media_cached }}
Restart=on-failure

[Install]
WantedBy=default.target