---
- name: Ensure mountpoint for media exists
  ansible.builtin.file:
    path: "{{ media_cached }}"
    state: directory
    owner: "{{ user }}"
    group: "{{ media_group }}"
    mode: "0770"

- name: Ensure cache pool path exists
  ansible.builtin.file:
    path: "{{ cache_pool }}"
    state: directory
    owner: "{{ user }}"
    group: "{{ media_group }}"
    mode: "0770"
    recurse: true
  when: (cache_disks_only + cache_paths_only) | length > 1

- name: Generate cache_mounts list for cache disks
  ansible.builtin.set_fact:
    cache_mounts: "{{ cache_mounts | default([]) + [cache_mount_path + '/cache%02d' % (index + 1)] }}"
  loop: "{{ cache_disks_only }}"
  loop_control:
    index_var: index
  when: cache_disks_only | length > 0

- name: Add cache paths to cache_mounts list
  ansible.builtin.set_fact:
    cache_mounts: "{{ cache_mounts | default([]) + cache_paths_only }}"
  when: cache_paths_only | length > 0

- name: Deploy mergerfs media_cached systemd service (single cache disk/path)
  ansible.builtin.template:
    src: mergerfs.mount.media_cached_single.j2
    dest: /etc/systemd/system/mergerfs-media-cache.service
    mode: "0644"
    force: true
  notify:
    - Reload systemd daemon
    - Restart mergerfs_media_cache and ensure enabled
  when: (cache_disks_only + cache_paths_only) | length == 1

- name: Deploy mergerfs services for multiple cache disks/paths
  when: cache_disks_count | int > 1
  block:
    - name: Deploy mergerfs cache_disks systemd service (multiple cache disks/paths)
      ansible.builtin.template:
        src: mergerfs.mount.cache_disks.j2
        dest: /etc/systemd/system/mergerfs-cache-disks.service
        mode: "0644"
        force: true
      notify:
        - Reload systemd daemon
        - Restart mergerfs_cache_disks and ensure enabled

    - name: Deploy mergerfs media_cached systemd service (multiple cache disks/paths)
      ansible.builtin.template:
        src: mergerfs.mount.media_cached_multiple.j2
        dest: /etc/systemd/system/mergerfs-media-cache.service
        mode: "0644"
        force: true
      notify:
        - Reload systemd daemon
        - Restart mergerfs_media_cache and ensure enabled
