---
- name: Ensure Scrutiny directories exist.
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ scrutiny_config_path }}"
    - "{{ scrutiny_influxdb_path }}"

- name: Download the Scrutiny configuration file
  get_url:
    url: "https://raw.githubusercontent.com/AnalogJ/scrutiny/master/example.scrutiny.yaml"
    dest: "{{ scrutiny_config_file }}"
    mode: '0644'

- name: Update Scrutiny configuration file with Discord webhook details
  replace:
    path: "{{ scrutiny_config_file }}"
    regexp: '#notify:\n#  urls:\n#    - "discord://token@channel"'
    replace: 'notify:\n  urls:\n    - "discord://{{ scrutiny_discord_token }}@{{ scrutiny_discord_webhookid }}"'
  when:
    - scrutiny_discord_token is defined and scrutiny_discord_token != ''
    - scrutiny_discord_webhookid is defined and scrutiny_discord_webhookid != ''


- name: Deploy Scrutiny container.
  docker_container:
    name: scrutiny
    image: "{{ scrutiny_image }}"
    state: started
    pull: true
    ports: "{{ scrutiny_ports }}"
    volumes: "{{ scrutiny_volumes }}"
    devices: "{{ disk_mapping }}"
    capabilities:
      - SYS_RAWIO
      - SYS_ADMIN #Required for NVME https://github.com/AnalogJ/scrutiny/issues/26#issuecomment-696817130
    restart_policy: unless-stopped
