---
- name: Set timezone
  community.general.timezone:
    name: "{{ timezone }}"
  when:
    - timezone is defined
    - timezone | length > 0

- name: Set up passwordless sudo
  ansible.builtin.include_tasks:
    file: passwdless_sudo.yml
  when: passwordless_sudo

- name: Create and append users/groups
  ansible.builtin.include_tasks:
    file: user_groups.yml

- name: Apt maintenance
  ansible.builtin.include_tasks:
    file: apt_maintain.yml

- name: Install packages
  ansible.builtin.include_tasks:
    file: apps.yml

- name: Install Fastfetch
  ansible.builtin.include_tasks:
    file: fastfetch.yml
  when: fastfetch_motd or install_fastfetch

- name: Apply SSH keys
  ansible.builtin.include_tasks:
    file: keys.yml
  when: ssh_key_option != 'none'
